[Desktop Entry]
Name=NihilFlash
Comment=Multi-OS USB Creator
Exec=nihilflash-gui
Icon=nihilflash
Terminal=false
Type=Application
Categories=Utility;System;
